.gifCardName {
  color: white;
  position: absolute;
  right: 5px;
  margin-top: -38px;
  text-align: right;
  font-size: 2rem;
  text-shadow: 2px 2px #00000091;
}

.gifCardBadges {
  position: absolute;
  right: 5px;
  margin-top: -15px;
}


ion-card-title {
  font-weight: 300;
}
